*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: black;
}

html{
    overflow-x: hidden;
}

.correction{
    visibility: hidden;
}

ul{
    list-style: none;
}

nav{
    display: flex;
    justify-content: space-around;
    padding: 15px 0 15px 0;
    background-color: #000;
}

nav ul li{
    display: inline-block;
    margin-left: 200px;
    color: #fff;
    font-weight: bold;
}

main{
    background-image: url(medias/fond.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

table{
    background-color: #fff;
}

form{
    width: 13vw;
    margin-left: 2vw;
}

form div{
    display: inline-block;
}

form div input{
    display: flex;
    width: 30px;
}

.textAleat{
    position: absolute;
    top: 50vh;
    left: 60vw;
}

.btnAleat{
    padding: 4px 5px;
}



