*{
    margin: 0;
    padding: 0;
    color: black;
}

body{
    background-image: url(medias/fond.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.correction{
    visibility: hidden;
    position: absolute;
    top: 7vh;
    left: 55vw;
}

.correction tr td{
    padding:2px 45px;
    font-size: 20px;
    font-weight: bold;
}

.tabcaract{
    padding:0 45px !important;
}

ul{
    list-style: none;
}

nav{
    display: flex;
    justify-content: space-around;
    padding: 15px 0 15px 0;
    background-color: #000;
}

nav ul li{
    display: inline-block;
    margin-left: 200px;
    color: #fff;
    font-weight: bold;
}

audio{
    position: absolute;
    width: 15%;
    height: 4%;
    right: 5px;
    top: 10px;
}

.btnAleat{
    border: 2px solid black;
    padding: 5px 7px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 10vw;
    margin-top: 2vh;
    background-color:black;
    color: white;
    transition: 0.2s;
    font-size: 15px;
}

.btnAleat:hover{
    background-color: #006;
}

.divparent{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}

table{
    background-color: #fff;
}

form{
    width: 30vw;
    margin-top: 5vh;
    margin-left: 2vw;
}

form div{
    display: inline-block;
}

form div input{
    display: flex;
    width: 30px;
}

.valid{
    position: relative;
    padding: 5px 8px;
    border-radius: 30px;
    cursor: pointer;
    left: 11vw;
    border: 1px solid black;
}

.valid:hover{
    background-color: cadetblue;
    color: white;
}

.aff, .hide{
    position: absolute;
    left: 40vw;
}

.aff{
    top: 40vh;
}

.hide{
    top: 50vh;
}

.textAleat{
    position: absolute;
    top: 110vh;
    left: 10vw;
    bottom: 10px;
}

.btnAleat{
    padding: 4px 5px;
}



